<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Product_Content::index" title="Product Content"  module="Product_Content" parent="Magento_Backend::content_elements" action="product/content/index" resource="Product_Content::index" sortOrder="500"/>
    </menu>
</config>
