<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dev_Catalog::catalog" title="Expert Management" module="Dev_Catalog" sortOrder="51" resource="Dev_Catalog::catalog"/>
        <add id="Dev_Catalog::expert" title="Expert Listing"  module="Dev_Catalog" parent="Dev_Catalog::catalog" action="expert/index/" resource="Dev_Catalog::expert"/>
        <add id="Dev_Catalog::expert_review" title="Expert Review"  module="Dev_Catalog" parent="Dev_Catalog::catalog" action="expert/index/review" resource="Dev_Catalog::expert_review"/>
    </menu>
</config>

