.row{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.col{
    max-width: 100%;
}
td, th{
    text-align: center !important;
    border: 1px solid #ccc;
}
.h2-title{
    font-size: 32px;
    text-align: center;
}
.table-expert{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cl-name{
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 0;
}
