<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Dev\Catalog\Api\ExpertRepositoryInterface" type="Dev\Catalog\Model\ExpertRepository"/>
    <preference for="Dev\Catalog\Api\Data\ExpertInterface" type="Dev\Catalog\Model\Expert"/>
    <preference for="Dev\Catalog\Api\Data\ExpertSearchResultInterface" type="Dev\Catalog\Model\ExpertSearchResult"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="expert_listing_data_source" xsi:type="string">Dev\Catalog\Model\ResourceModel\Expert\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Dev\Catalog\Model\ResourceModel\Expert\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">expert</argument>
            <argument name="resourceModel" xsi:type="string">Dev\Catalog\Model\ResourceModel\Expert</argument>
        </arguments>
    </virtualType>

</config>
