<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="config_data" xsi:type="object">Checkout\Donate\Model\CustomDonateConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\Session\Proxy">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Checkout\Donate\Controller\Donate\RemoveCustomDonate</argument>
        </arguments>
    </type>
</config>
