<!-- ko -->
<!--Show custom donate summary-->
<tr class="totals fee excl">
    <th class="mark" scope="row">
 <span class="label" data-bind="text: title">
</span>
        <span class="value" data-bind="text: getValue()">
</span>
    </th>
    <td class="amount">
    <span class="price" id="price" data-bind="text: getValue(), attr: {'data-th': title}"></span>
        <span id="removeBtn" data-bind="i18n: 'X', click: removeCustomDonate"></span>
    </td>
</tr>
<!-- /ko -->
<style>

    #removeBtn{
        text-decoration: none;
        cursor: pointer;
        color: blue;
    }
    #removeBtn:hover {
        color: red;
    }
    .quote-id{
        display: none;
    }
</style>

