<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dev_Banner::banner" title="Banners" translate="title" module="Dev_Banner" parent="Magento_Catalog::inventory" action="banner/index/" resource="Magento_Catalog::banners"/>
    </menu>
</config>
